@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.mb-appRoot {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mb-settingsArea {
  display: flex;
}


@media screen and (max-width: 1200px) {
  .mb-settingsArea {
      flex-direction: column;
  }
}

.mb-filePicker-container {
  max-width: 400px;
  padding: 8px;
  flex: 1;
}

.mb-paperSettings-container {
  min-width: 300px;
  padding: 8px;
  flex: 1;
}

.mb-musicBox-preview {
  padding: 16px;
  margin: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mb-svg-downloadButton {
  margin: 8px;
}

.mb-debugMessage-Container {
  padding: 8px;
}

.mb-debugMessage {
  white-space: pre;
  max-height: 320px;
  overflow-y: auto;
}