@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.mb-appRoot {
  max-width: 900px;;
  margin: 16px;
}

.mb-settingsArea {
  display: flex;
}

.mb-filePicker-container {
  min-width: 300px;
  padding: 8px;
  flex: 1;
}

.mb-paperSettings-container {
  min-width: 300px;
  padding: 8px;
  flex: 1;
}

.mb-musicBox-preview {
  padding: 16px;
  margin: 8px;
}

.mb-debugMessage-Container {
  padding: 8px;
}

.mb-debugMessage {
  white-space: pre;
  max-height: 400px;
  overflow-y: auto;
}